<footer>
    <hr>
    <div class="left">
        <a href="www.linkedin.com/in/usrahul" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://www.instagram.com/usrahul_/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://github.com/usrahul1" target="_blank"><i class="fa-brands fa-github"></i></a>
    </div>
</footer>