<nav>
	<div class="headtop">
		<a href="/"
			><h2><span>R</span>ahul.</h2></a
		>
		<button id="burger" class="toggleMenu" onclick="toggleMenu()">
			&#9776;
		</button>
	</div>
	<div class="abt-asa" id="menu">
		<div class="abt">
			<a href="/about">About</a>
			<a href="/projects">Projects</a>
			<a href="/contact">Contact</a>
		</div>
	</div>
</nav>
