<center>
	<h2 class="stylized-quote">
		Being strong isn’t just about having power or move, it about one’s
		spirit.
	</h2>
</center>

<center>
	<h3 class="insp-head">
		This quotation by my Inspiration -
		<span class="insp underline">Roronoa Zoro</span>, though unrelated to my
		life in general, had to be in this page -- since it is so close to me.
	</h3>
</center>

<!-- <div class="about-cont-1">
	<div class="about-cont-1-1">
		<h2 class="underline">About Me</h2>
	</div>
	<div class="about-cont-1-2">
		<h1 class="about-hello">
			Moshi Moshhh (Hello in other words)...👋<br />
		</h1>
		<h3>
			My name is Rahul, and I am currently in
			<span class="underline">final year</span> of my graduation.
		</h3>
	</div>
</div>
<br />

<center><h1 class="underline">Want to see me ?</h1></center>
<br />
<center>
	<h3>Scroll down <i class="fa-solid fa-arrow-down"></i></h3>
</center> -->
<div class="about-cont-1">
	<div>
		<h2>
			So yeah, starting out, <span class="glitch gl2">Hellooo!></span>
		</h2>
	</div>
	<div>
		<img src="/img/zoro_hi.jpg" alt="zoro says hi everyone" />
	</div>
</div>

<div>
	<h3>
		Starting out, my name is Rahul, and I am an undergrad student, currently
		in my final year.
	</h3>
</div>
