<form class="adminRegister" method="post" action="/admin/register">
    <input type="password" name="password" class="password" placeholder="Enter your password"/>
    <button type="submit">Submit</button>
</form>