<div class="adminLogin">
    <form action="/" method="post">
        <input type="password" class="adminPassword" name="adminPassword" placeholder="Enter the password" required>
    </form> 
</div>