<div class="hsdiv">
    <div class="text">
        <h3>Heya! I am,</h3><br>
        <h2 class="glitch" data-aos="flip-down" data-aos-duration="1200">Sai Rahul Urumu</h2>
        <h4><span class="cont"></span></h4>
    </div>
    <div class="img">
        <img src="/img/zoro.png" alt="Image" data-aos="zoom-in" data-aos-duration="1200"/>
    </div>
</div>

<div class="cont3">
    <h3> Me? </h3>
    <div class="scroll-container">
        <div class="carousel-primary">
            <div class="item">
                <img src="/img/img.webp">
                <div class="div">
                    <h4>Title</h4>
                    <h5>Desc</h5>
                    <h6>Year</h6>
                </div>
            </div>
            <div class="item">
                <img src="/img/img.webp">
                <div class="div">
                    <h4>Title</h4>
                    <h5>Desc</h5>
                    <h6>Year</h6>
                </div>
            </div>
            <div class="item">
                <img src="/img/img.webp">
                <div class="div">
                    <h4>Title</h4>
                    <h5>Desc</h5>
                    <h6>Year</h6>
                </div>
            </div>
            <div class="item">
                <img src="/img/img.webp">
                <div class="div">
                    <h4>Title</h4>
                    <h5>Desc</h5>
                    <h6>Year</h6>
                </div>
            </div>
            <div class="item">
                <img src="/img/img.webp">
                <div class="div">
                    <h4>Title</h4>
                    <h5>Desc</h5>
                    <h6>Year</h6>
                </div>
            </div>
        </div>
        <div class="carousel-primary carousel-secondary">
            <div class="item">
                <img src="/img/img.webp">
                <div class="div">
                    <h4>Title</h4>
                    <h5>Desc</h5>
                    <h6>Year</h6>
                </div>
            </div>
            <div class="item">
                <img src="/img/img.webp">
                <div class="div">
                    <h4>Title</h4>
                    <h5>Desc</h5>
                    <h6>Year</h6>
                </div>
            </div>
            <div class="item">
                <img src="/img/img.webp">
                <div class="div">
                    <h4>Title</h4>
                    <h5>Desc</h5>
                    <h6>Year</h6>
                </div>
            </div>
            <div class="item">
                <img src="/img/img.webp">
                <div class="div">
                    <h4>Title</h4>
                    <h5>Desc</h5>
                    <h6>Year</h6>
                </div>
            </div>
            <div class="item">
                <img src="/img/img.webp">
                <div class="div">
                    <h4>Title</h4>
                    <h5>Desc</h5>
                    <h6>Year</h6>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="cont4">
    <h3>Skills?</h3>
    <div class="stuff">
        <div class="languages">
            <h2>Languages</h2>
            <ul>
                <li>Language Name</li>
            </ul>
        </div>
        <div class="frameworks">
            <h2>Frameworks</h2>
            <ul>
                <li>Framework Name</li>
            </ul>
        </div>
    </div>
    <h3>Certifications?</h3>
    <div class="certif">
        <ul>
            <li>Certif Name - Year</li>
        </ul>
    </div>
</div>

<div class="cont5">
    <h3>Projects?</h3>
    <div class="projectsCont5">
        <div class="proj">
                <img src="/img/img.webp" class="projectImage">
                <h2>Project Title</h2>
                <h3>Project Description</h3>
                <a><h3>githublink</h3></a>
        </div>
    </div>
    <div class="moreProjects">
        <hr>
        <a href="/projects">Show More</a>
        <hr>
    </div>

</div>

<div class="cont2">
    <div class="clock">
        <img src="/img/umm.gif" class="gifum p2"/>
        <div class="hr"></div>
        <div class="min"></div>
        <div class="sec"></div>
    </div>
    <div class="text2 p2">
        <h3>Wanna know more about me?</h3>
        <a href="./contactPage.ejs">Click Here to contact me! <3</a>
    </div>
    <div class="rating">
        <div>
            <h3>Small help for me by the way ?🥹</h3>
            <a href="">Click here pleaseee</a>
        </div>
        <div class="starsRating">
            <h3>How's the website?</h3>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
    </div>
</div>
