<section class="cont6">
    <% if(projArray.length > 0) { %>
        <div class="projectsCont5">
            <% for(let i=0; i<Math.min(4, projArray.length); i++) { %>
                <div class="proj">
                    <img src="<%= projArray[i].image %>" class="projectImage">
                    <h2> <%= projArray[i].projectTitle %></h2>
                    <h3><%= projArray[i].projDesc %></h3>
                    <a href="<%= projArray[i].githubLink %>"><h3>githublink</h3></a>
                </div>
            <% } %>
        </div>
    <% } %>
</section>
