<section>
    <ul class="projects">
        <li>
            <div class="proj" data-aos="zoom-in" data-aos-duration="1200">
                <img src="/img/img.webp" class="projectImage">
                <h2>Project Title</h2>
                <h3>Project Description</h3>
                <a><h3>githublink</h3></a>
            </div>
        </li>
    </ul>
</section>