* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	color: white;
	user-select: none;
	text-decoration: none;
}

body {
	background-color: #3074e4;
}

/* Index 1st Page */

.hsdiv {
	margin-top: 3%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 10%;
	padding-right: 8%;
	height: 70vh;
}

.img img {
	max-width: 40rem;
	height: auto;
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.text h3 {
	font-size: 3rem;
	animation: rise 3s ease;
}

.text h4 {
	padding-top: 1rem;
}

.cont {
	font-size: 3rem;
}

.glitch {
	font-family: "Architects Daughter", cursive;
	font-size: 4rem;
	cursor: pointer;
	letter-spacing: 4px;
	animation: glitch 2s infinite linear;
}

/* Header */

nav {
	display: flex;
	justify-content: space-between;
	padding: 0rem 5rem;
	align-items: center;
	margin-top: 2rem !important;
}

nav h2 {
	font-size: 3rem;
}

nav h2 span {
	color: #faa924;
	font-size: 3.5rem;
}

.abt {
	display: flex;
	gap: 1rem;
}

.abt a {
	cursor: pointer;
	margin-left: 0.5rem;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 600;
	padding: 5px;
	transition: all 0.5s ease;
}

.abt a:hover {
	color: #faa924;
	transform: translateY(-5px);
	animation: glitch 2s linear infinite;
}

@keyframes glitch {
	0% {
		text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
			-0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
			0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
	}
	25% {
		text-shadow: 0 0.05em 0 rgba(255, 0, 0, 0.75),
			0.05em 0 0 rgba(0, 255, 0, 0.75), -0.05em 0 0 rgba(0, 0, 255, 0.75);
	}
	50% {
		text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75),
			0.025em 0.05em 0 rgba(0, 255, 0, 0.75),
			-0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
	}
	75% {
		text-shadow: 0 -0.05em 0 rgba(255, 0, 0, 0.75),
			-0.05em 0 0 rgba(0, 255, 0, 0.75), 0.05em 0 0 rgba(0, 0, 255, 0.75);
	}
	100% {
		text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
			-0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
			0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
	}
}

@keyframes rise {
	0% {
		transform: translateY(80%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

/* Coming Soon Page */

.cont2 {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: 90% 10%;
	position: relative;
}

.clock {
	background-color: #3074e4;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -10;
}

.hr,
.min,
.sec {
	position: absolute;
	background-color: #000;
	border-radius: 10px;
	transform-origin: bottom;
}

.hr {
	width: 1.4%;
	height: 25%;
	top: 25%;
	left: 48.85%;
}

.min {
	width: 1.2%;
	height: 30%;
	top: 19%;
	left: 48.9%;
}

.sec {
	width: 0.8%;
	height: 40%;
	top: 9%;
	left: 49.25%;
}

.text2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	color: grey;
}

.text2 h3 {
	font-size: 2rem;
}

.text2 a {
	padding: 0.5rem 1rem 0.5rem 1rem;
	background-color: #da3b5c;
	border-radius: 1.5rem;
}

.rating {
	width: 100%;
	text-align: center;
	grid-column: span 2;
	gap: 0.5rem;
}

.rating h3 {
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

.rating a {
	background-color: #faa924;
	text-align: center;
	padding: 0.5rem 0.75rem 0.5rem 0.75rem;
	border-radius: 0.5rem;
}

/* Footer */

footer {
	position: relative;
	bottom: 0;
	/* grid-column: 1/span 2;
    z-index: 100; */
	margin-top: 2rem;
	margin-bottom: 1rem;
	width: 100%;
}

footer hr {
	width: 80%;
	height: 2px;
	background-color: white;
	opacity: 0.7;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	border: none;
	margin: 0 auto;
}

.left {
	display: flex;
	gap: 2rem;
	margin-top: 1rem;
	justify-content: center;
	align-items: center;
}

.left a {
	font-size: 2rem;
}

.icon {
	height: 2rem;
	display: flex;
	align-items: center;
	justify-items: center;
}

.gifum {
	border-radius: 50%;
	width: 50%;
}

#burger {
	display: none;
}

/* Navigation Links */
#burger {
	font-size: 2rem;
	cursor: pointer;
	display: none;
}

@media (max-width: 768px) {
	/* Show hamburger on mobile */

	nav {
		width: 100vw;
	}

	.toggleMenu {
		font-size: 2rem;
		background: transparent;
		border: none;
		outline: none;
	}

	#burger {
		display: block;
		width: 1rem;
		position: absolute;
		right: 0;
		transform: translateX(-20px);
	}

	.abt-asa {
		display: none;
		flex-direction: column;
		width: 100%;
		text-align: center;
		position: absolute;
		top: 50px;
		left: 0;
	}

	.abt-asa.show {
		display: flex;
		background-color: #d4edda;
		z-index: 2;
		margin-top: 5rem;
	}

	.abt {
		flex-direction: column;
		width: 100%;
	}

	.abt a {
		color: black;
	}

	.abt a {
		padding: 15px;
		width: 100%;
		display: block;
	}

	.headtop {
		display: flex;
		width: 100vw;
		align-items: center;
		justify-content: space-around;
	}

	/* .carousel-primary,
	.carousel-secondary {
		gap: 2rem;
	} */

	/* .carousel-secondary {
		animation: scroll-horizontal 20s linear infinite;
		animation-delay: 20s;
	} */

	/* .scroll-container {
		height: fit-content;
		gap: 0.5rem;
	}

	.carousel-primary,
	.carousel-secondary {
		gap: 0.5rem;
	}

	.carousel-primary > div,
	.carousel-secondary > div {
		width: fit-content;
		height: 4rem;
		flex-shrink: 0;
	} */
}

@media (max-width: 765px) {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	/* nav {
		display: none;
	} */

	nav {
		width: 100vw;
		overflow: hidden;
	}

	.hsdiv {
		width: 100vw;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;
		height: 70vh;
	}

	.hsdiv .img {
		width: 100vw;
		display: flex;
		justify-content: center;
	}

	.hsdiv .img img {
		width: 70%;
	}

	.cont {
		display: flex;
	}

	.glitch {
		font-size: 2.5rem;
		width: 100vw;
	}

	.cont {
		font-size: 2rem;
		width: 100vw;
		height: 2rem;
	}

	.cont3 h3 {
		text-align: center;
	}

	.cont4 {
		display: flex;
		gap: 2rem !important;
		flex-direction: column;
		margin-bottom: 0;
	}

	.stuff {
		margin-top: 0;
		display: flex;
	}

	.certif {
		display: flex;
	}

	.cont5 {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.hr,
	.min,
	.sec {
		display: none;
	}

	.cont2 {
		margin-top: 5rem;
		display: flex;
		height: 40vh !important;
		justify-content: space-between;
		flex-direction: column;
		height: fit-content;
		justify-content: space-between;
	}

	.clock {
		height: fit-content;
		display: flex;
	}

	.text2 {
		display: flex;
	}

	.text2 h3 {
		font-size: 1.5rem;
	}

	.smProj {
		font-size: 1rem;
	}

	.contact {
		display: flex;
		flex-direction: column;
	}
}

/* Project Page */

.projects {
	display: flex;
	flex-wrap: wrap;
	margin: 2rem;
	list-style: none;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.proj {
	padding: 1rem;
	border: 2px solid white;
	width: 18rem;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	height: 18rem;
	overflow: hidden;
}

.proj img {
	border-radius: 0.5rem;
}

.proj h2 {
	text-align: center;
	margin-bottom: 0.5rem;
}

/* Cont3 */

.cont3 {
	margin-top: 5%;
	margin-bottom: 5%;
}

.cont3 h3 {
	margin-left: 10%;
	font-size: 2rem;
}

.item img {
	width: 3rem;
	border-radius: 50%;
}

/* .scroll-container {
	overflow: hidden;
	width: 100%;
	position: relative;
	height: 100px; 
}

.carousel-primary,
.carousel-secondary {
	display: flex;
	white-space: nowrap;
	position: absolute;
	width: max-content;
	top: 0;
	gap: 2rem;
}

.carousel-primary {
	transform: translateX(100%);
	animation: scroll-horizontal 20s linear infinite;
	animation-delay: 2s;
}

.carousel-secondary {
	margin-left: 2rem;
	transform: translateX(100%);
	animation: scroll-horizontal 20s linear infinite;
	animation-delay: 10s;
	visibility: hidden;
	animation-fill-mode: forwards;
}

@keyframes scroll-horizontal {
	0% {
		transform: translateX(100%);
		visibility: visible;
	}
	100% {
		transform: translateX(-100%);
		visibility: visible;
	}
}

.scroll-container {
	height: 5rem;
	width: 100%;
	overflow: hidden;
	display: flex;
	gap: 1rem;
	position: relative;
} */

.scroll-container {
	overflow: hidden;
	width: 100%;
	position: relative;
}

.carousel-track {
	margin-top: 2rem;
	display: flex;
	width: fit-content;
	animation: scroll-horizontal 20s linear infinite;
}

.item {
	display: flex;
	gap: 1rem;
	border: 2px solid white;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem 0.5rem 1rem;
	width: fit-content;
	background-color: #ff917f;
	z-index: 1000;
	align-items: center;
}

.item {
	flex-shrink: 0;
	margin: 0 1rem;
	display: flex;
	white-space: nowrap;
}

@keyframes scroll-horizontal {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-50%);
	}
}

/* 
.carousel-primary,
.carousel-secondary {
	left: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

.carousel-primary {
	display: flex;
	justify-content: space-around;
	animation: scroll-horizontal 20s linear infinite;
}

.carousel-secondary {
	display: flex;
	animation: scroll-horizontal 20s linear infinite;
	animation-delay: 10s;
}

@keyframes scroll-horizontal {
	0% {
		left: 100%;
	}

	100% {
		left: -100%;
	}
} */

.carousel-primary:hover,
.carousel-primary:hover ~ .carousel-secondary {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
}

.carousel-secondary:hover {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
}

.scroll-container:hover > .carousel-primary:not(:hover) {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
}

/* Cont 4 */

.cont4 {
	margin-top: 5%;
	margin-bottom: 5%;
	/* padding-left: 10%; */
	display: flex;
	margin-top: 2rem;
	margin-bottom: 2rem;
	/* gap: 10rem; */
	align-items: center;
	justify-content: space-around;
}

.stuff {
	display: flex;
	gap: 2rem;
}

.cont4 h3 {
	font-size: 2rem;
}

.languages ul,
.frameworks ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-top: 0.75rem;
}

.languages ul li,
.frameworks ul li {
	font-weight: 500;
	user-select: none;
	font-size: 1.2rem;
}

.certif ul {
	list-style: circle;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.certif ul li {
	font-weight: 500;
	user-select: none;
	font-size: 1.2rem;
}

/* Contact Page */

.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	height: 70vh;
	width: 100%;
}

.contact h2 {
	text-align: center;
	display: block;
}

.contactForm {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: 0.5rem;
	width: 20rem;
	height: fit-content;
	gap: 0.75rem;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="file"] {
	background: #ffc107;
	border: none;
	border-radius: 0.5rem;
	width: 100%;
	color: black;
	padding: 0.5rem 1rem 0.5rem 1rem;
	height: 2.5rem;
}

input:focus,
textarea:focus {
	outline: none;
}

textarea {
	background-color: #ffc107;
	color: #000;
	width: 100%;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem 0.5rem 1rem;
	resize: none;
	height: 5rem;
}

input::placeholder,
textarea::placeholder {
	color: #000;
	font-style: italic;
}

.submitForm {
	border-radius: 0.5rem;
	background-color: #e43074;
	width: 50%;
	margin: auto;
	padding: 0.5rem 1rem 0.5rem 1rem;
	border: none;
}

/* Cont5 */

.projectsCont5 {
	display: flex;
	gap: 2rem;
	align-items: center;
	flex-wrap: wrap;
}

.proj {
	cursor: pointer;
	height: 19rem;
}

.projectImage {
	width: 100%;
	height: 100%;
}

.cont5 {
	padding-left: 10%;
	margin-top: 10%;
	padding-right: 10%;
}

.cont5 h3 {
	font-size: 2rem;
	margin-bottom: 3%;
}

.proj h2 {
	color: #000;
	text-decoration: underline;
	font-size: 1.75rem;
}

.proj h3 {
	font-size: 1.5rem;
}

.proj a h3 {
	font-size: 1.25rem;
}

.projAllView {
	background-color: #da3b5c;
	border-radius: 1rem;
}

.projAllView h3,
.po {
	font-size: 1.2rem;
	font-weight: 500;
	padding-left: 1em;
	/* color: black; */
}

.moreProjects {
	margin-top: 1rem;
	display: flex;
	align-items: center;
}

.moreProjects hr {
	width: 40%;
	height: 40%;
}

.moreProjects a {
	background-color: #e43074;
	padding: 0.5rem 2rem 0.5rem 2rem;
	border-radius: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

/* Admin Login */

.adminLogin {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 70vh;
	justify-content: center;
	gap: 0.9rem;
}

.adminLogin input {
	outline: none;
	font-size: 35rem;
}

.headingSpan {
	position: relative;
	display: inline-block;
	color: #ee4b2b;
	text-decoration: none;
}

.headingSpan::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 100%;
	height: 3px;
	background-color: #da3b5c;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.3s ease-in-out;
}

.headingSpan:hover::after {
	transform: scaleX(1);
}

/* Admin Index */

.logoutAdmin {
	position: absolute;
	right: 0;
	transform: translateX(-150%);
}

.logoutAdmin button {
	background-color: #e43074;
	padding: 0.25rem 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	border: none;
	font-size: 1rem;
}

.newTitle,
.newProject,
.newLangs,
.newCertification,
.newFramework {
	padding: 0.5rem 0.75rem;
	background-color: #ffa500;
	border-radius: 0.5rem;
	border: none;
	width: fit-content;
	cursor: pointer;
}

.titles,
.projectsAdminOut,
.langs,
.certificationAdmin,
.frameworkAdmin {
	margin-top: 4rem;
	margin-left: 10%;
	display: flex;
	flex-direction: column;
	width: fit-content;
	gap: 0.5rem;
}

.titlesAdminAll,
.projectsAdminAll {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.titlesAdmin,
.projectsAdmin {
	margin-top: 1rem;
	display: flex;
	gap: 0.5rem;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 0.5rem;
	padding: 0.5rem 0.75rem;
	max-width: 20rem;
	max-height: 22rem;
}

.titlesAdmin img,
.projectsAdmin img {
	width: 12rem;
	margin: auto;
}

.buttonTitle,
.buttonProj {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 0.25rem;
	gap: 0.1rem;
}

.editTitle,
.editProject,
.editLangs,
.editCertification,
.editFramework {
	background-color: #faa924;
	padding: 0.3rem 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	border: none;
}

.deleteTitle,
.deleteProject,
.deleteLangs,
.deleteCertification,
.deleteFramework {
	background-color: red;
	padding: 0.3rem 0.5rem;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;
}

.titlesAdmin h4,
.projectsAdmin h4 {
	margin-bottom: 0.25rem;
	font-size: 1.5rem;
}

.titlesAdmin h5,
.projectsAdmin h5 {
	font-size: 1.3rem;
	margin-bottom: 0.25rem;
}

.titlesAdmin h6,
.projectsAdmin h6 {
	font-size: 1.2rem;
	margin-bottom: 0.25rem;
}

.certificationSetCont,
.frameworkSetCont,
.langsSetCont {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.langsSet,
.certificationSet,
.frameworkSet {
	display: flex;
	align-items: center;
	width: 40rem;
	justify-content: space-between;
}

.langsSet h3,
.certificationSet h3,
.frameworkSet h3 {
	font-size: 1.5rem;
}

.langsButton,
.certificationButton,
.frameworkButton {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.langsButton button,
.certificationButton button,
.frameworkButton button {
	font-size: 1rem;
	border: none;
}

/* Form */

.popup input {
	color: black;
}

.popup input::placeholder {
	color: black;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
	background: white;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	width: 300px;
	max-width: 90%;
	z-index: 2;
}

.popup form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.popupCont {
	display: flex;
	justify-content: end;
	width: 100%;
}

.popupCont a {
	cursor: pointer;
}

.popup a {
	font-size: 1rem;
	color: black;
	background-color: #e43074;
	padding: 0.2rem 0.4rem;
	border-radius: 2rem;
	margin-bottom: 1rem;
}

.popup a i {
	margin-left: 0.5rem;
	color: black;
}

/* .popup::backdrop {
    backdrop-filter: blur(.15rem); 
    transition: backdrop-filter 10s;
} */

.submitPopup {
	background-color: #3074e4;
	padding: 0.3rem 0.7rem;
	width: fit-content;
	display: grid;
	place-self: center;
	border-radius: 0.2rem;
	cursor: pointer;
}

.show {
	display: block;
}

.none {
	display: none;
}

/* Admin Register */

.adminRegister {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
	flex-direction: column;
	gap: 0.3rem;
}

.adminRegister input,
.adminLogin input {
	background-color: #fff;
	border: 1px solid black;
	color: black;
	font-size: 1rem;
	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem;
	outline: none;
}

.adminRegister button,
.adminLogin button {
	background-color: #e43074;
	padding: 0.25rem 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	border: none;
	font-size: 1rem;
}

/* Flash Content */

.flashContent {
	width: fit-content;
	padding: 0.25rem 0.35rem;
	border-radius: 0.5rem;
	position: absolute;
	left: 40%;
	border: 2px solid black;
}

.success {
	background-color: #d4edda;
	color: #155724;
	padding: 10px;
	border-left: 5px solid #28a745;
	border-radius: 5px;
}

.error {
	background-color: #f8d7da;
	color: #721c24;
	padding: 10px;
	border-left: 5px solid #dc3545;
	border-radius: 5px;
}

.success h2 {
	color: #28a745;
}

.error h2 {
	color: red;
}

/* Edit File */

.containerEdit {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: fit-content;
	gap: 0.5rem;
	height: 60vh;
}

.editForm {
	display: flex;
	width: fit-content;
	margin: 0 auto;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
}

.editForm img {
	height: 250px;
}

.textEdit {
	height: 60vh;
}

.editForm div {
	display: flex;
	gap: 0.5rem;
}

.editForm input {
	outline: none;
	font-size: medium;
}

.editForm button {
	background-color: #e43074;
	padding: 0.25rem 0.5rem;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;
	font-size: medium;
}

.projectDIV {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projectDIV button {
	width: fit-content;
}

/* Cont 6 */

.cont6 {
	margin-top: 2rem !important;
	width: 70%;
	display: flex;
	margin: 0 auto;
}

@media (max-width: 768px) {
	/* Show hamburger on mobile */

	nav {
		width: 100vw;
	}

	.toggleMenu {
		font-size: 2rem;
		background: transparent;
		border: none;
		outline: none;
	}

	#burger {
		display: block;
		width: 1rem;
		position: absolute;
		right: 0;
		transform: translateX(-20px);
	}

	.abt-asa {
		display: none;
		flex-direction: column;
		width: 100%;
		text-align: center;
		position: absolute;
		top: 50px;
		left: 0;
	}

	.abt-asa.show {
		display: flex;
		background-color: #d4edda;
		z-index: 2;
		margin-top: 5rem;
	}

	.abt {
		flex-direction: column;
		width: 100%;
	}

	.abt a {
		color: black;
	}

	.abt a {
		padding: 15px;
		width: 100%;
		display: block;
	}

	.headtop {
		display: flex;
		width: 100vw;
		align-items: center;
		justify-content: space-around;
	}

	/* Scrolling not working still */
	/* .scroll-container {
		margin-top: 2rem;
		height: 5rem;
		width: 100%;
		overflow: hidden;
		display: flex;
		gap: 1rem;
		position: relative;
	}

	.carousel-primary,
	.carousel-secondary {
		left: -100%;
		width: 100%;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
	}

	.carousel-primary {
		display: flex;
		justify-content: space-around;
		animation: scroll-horizontal 1s linear infinite;
	}

	.carousel-secondary {
		display: none;
		animation: scroll-horizontal 20s linear infinite;
		animation-delay: 10s;
	} */
}

@media (min-width: 1062px) and (max-width: 1431px) {
	.glitch {
		font-size: 3.25rem;
	}

	.text h3 {
		font-size: 2.75rem;
	}

	.cont {
		font-size: 2.75rem;
	}

	.img img {
		width: 30rem;
	}
}

@media (min-width: 986px) and (max-width: 1135px) {
	.glitch {
		font-size: 2.5rem;
	}

	.text h3 {
		font-size: 2.75rem;
	}

	.cont {
		font-size: 2.5rem;
	}

	.img img {
		width: 25rem;
	}

	.cont4 {
		display: flex;
		gap: 2rem !important;
		flex-direction: column;
		margin-bottom: 0;
	}

	.stuff {
		margin-top: 0;
		display: flex;
	}

	.certif {
		display: flex;
	}

	.cont5 {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

@media (min-width: 832px) and (max-width: 986px) {
	.glitch {
		font-size: 2.5rem;
	}

	.text h3 {
		font-size: 2rem;
	}

	.cont {
		font-size: 2rem;
	}

	.img img {
		width: 20rem;
	}

	nav h2 {
		font-size: 2rem;
	}

	nav h2 span {
		font-size: 2.5rem;
	}

	.abt {
		display: flex;
		gap: 0.5rem;
	}

	.abt a {
		font-size: 1rem;
	}

	.cont4 {
		display: flex;
		gap: 2rem !important;
		flex-direction: column;
		margin-bottom: 0;
	}

	.stuff {
		margin-top: 0;
		display: flex;
	}

	.certif {
		display: flex;
	}

	.cont5 {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

@media (min-width: 768px) and (max-width: 832px) {
	.glitch {
		font-size: 2rem;
	}

	.text h3 {
		font-size: 1.5rem;
	}

	.cont {
		font-size: 1.5rem;
	}

	.img img {
		width: 20rem;
	}

	nav h2 {
		font-size: 2rem;
	}

	nav h2 span {
		font-size: 2.5rem;
	}

	.abt {
		display: flex;
		gap: 0.5rem;
	}

	.abt a {
		font-size: 1rem;
	}

	.cont4 {
		display: flex;
		gap: 2rem !important;
		flex-direction: column;
		margin-bottom: 0;
	}

	.stuff {
		margin-top: 0;
		display: flex;
	}

	.certif {
		display: flex;
	}

	.cont5 {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

@media (min-width: 292px) and (max-width: 356px) {
	.contact {
		width: auto;
	}
	.cont6 {
		overflow: hidden;
		margin: 0;
		width: 100%;
	}

	.projectsCont5 {
		display: flex;
		flex-direction: column;
		width: auto;
		margin: 0;
	}

	.proj {
		width: auto;
	}
	#burger {
		font-size: 1.5rem;
	}

	.glitch {
		font-size: 1.75rem;
	}

	.text h3 {
		font-size: 1.5rem;
	}

	.cont {
		font-size: 1.5rem;
	}

	.img img {
		width: 10rem;
	}

	nav h2 {
		font-size: 1.75rem;
	}

	nav h2 span {
		font-size: 2rem;
	}

	.abt {
		display: flex;
		gap: 0.25rem;
	}

	.abt a {
		font-size: 0.75rem;
	}

	.cont3 h3 {
		font-size: 1.5rem;
	}

	.cont4 {
		display: flex;
		gap: 1rem !important;
	}

	.cont4 h3,
	.cont5 h3 {
		font-size: 1.5rem;
	}

	.languages h2,
	.frameworks h2,
	.proj h2 {
		font-size: 1.25rem;
	}

	.certif ul li,
	.languages ul li,
	.frameworks ul li,
	.proj h3,
	.proj a h3 {
		font-size: 0.8rem;
	}

	.proj {
		height: auto;
	}

	.moreProjects a {
		font-size: 1rem;
	}

	.text2 h3,
	.text2 a {
		font-size: 1rem;
	}

	.left a {
		font-size: 1.5rem;
	}
}

@media (min-width: 265px) and (max-width: 292px) {
	.contact {
		width: auto;
	}

	.cont6 {
		overflow: hidden;
		margin: 0;
		width: 100%;
	}

	.projectsCont5 {
		display: flex;
		flex-direction: column;
		width: auto;
		margin: 0;
	}

	.proj {
		width: auto;
	}

	#burger {
		font-size: 1.5rem;
	}

	.glitch {
		font-size: 1.75rem;
	}

	.text h3 {
		font-size: 1.5rem;
	}

	.cont {
		font-size: 1.5rem;
	}

	.img img {
		width: 10rem;
	}

	nav h2 {
		font-size: 1.75rem;
	}

	nav h2 span {
		font-size: 2rem;
	}

	.abt {
		display: flex;
		gap: 0.25rem;
	}

	.abt a {
		font-size: 0.75rem;
	}

	.cont3 h3 {
		font-size: 1.5rem;
	}

	.cont4 {
		display: flex;
		gap: 1rem !important;
	}

	.cont4 h3,
	.cont5 h3 {
		font-size: 1.25rem;
	}

	.languages h2,
	.frameworks h2,
	.proj h2 {
		font-size: 1rem;
	}

	.certif ul li,
	.languages ul li,
	.frameworks ul li,
	.proj h3,
	.proj a h3 {
		font-size: 0.7rem;
	}

	.proj {
		height: auto;
	}

	.moreProjects a {
		font-size: 1rem;
	}

	.text2 h3,
	.text2 a {
		font-size: 1rem;
	}

	.left a {
		font-size: 1.5rem;
	}
}

@media (min-width: 237px) and (max-width: 265px) {
	.cont6 {
		overflow: hidden;
		margin: 0;
		width: 100%;
	}

	.projectsCont5 {
		display: flex;
		flex-direction: column;
		width: auto;
		margin: 0;
	}

	.proj {
		width: auto;
	}
	#burger {
		font-size: 1.5rem;
	}

	.glitch {
		font-size: 1.5rem;
	}

	.text h3 {
		font-size: 1.25rem;
	}

	.cont {
		font-size: 1.25rem;
	}

	.img img {
		width: 10rem;
	}

	nav h2 {
		font-size: 1.75rem;
	}

	nav h2 span {
		font-size: 2rem;
	}

	.abt {
		display: flex;
		gap: 0.25rem;
	}

	.abt a {
		font-size: 0.75rem;
	}

	.cont3 h3 {
		font-size: 1.5rem;
	}

	.cont4 {
		display: flex;
		gap: 1rem !important;
	}

	.cont4 h3,
	.cont5 h3 {
		font-size: 1.25rem;
	}

	.languages h2,
	.frameworks h2,
	.proj h2 {
		font-size: 1rem;
	}

	.certif ul li,
	.languages ul li,
	.frameworks ul li,
	.proj h3,
	.proj a h3 {
		font-size: 0.7rem;
	}

	.proj {
		height: auto;
	}

	.moreProjects a {
		font-size: 0.75rem;
	}

	.text2 h3,
	.text2 a {
		font-size: 0.9rem;
	}

	.left a {
		font-size: 1.25rem;
	}
}

@media (min-width: 213px) and (max-width: 237px) {
	.contact {
		width: auto;
	}
	.cont6 {
		overflow: hidden;
		margin: 0;
		width: 100%;
	}

	.projectsCont5 {
		display: flex;
		flex-direction: column;
		width: auto;
		margin: 0;
	}

	.proj {
		width: auto;
	}

	#burger {
		font-size: 1.25rem;
	}

	.glitch {
		font-size: 1.3rem;
	}

	.text h3 {
		font-size: 1rem;
	}

	.cont {
		font-size: 1rem;
	}

	.img img {
		width: 10rem;
	}

	nav h2 {
		font-size: 1.75rem;
	}

	nav h2 span {
		font-size: 2rem;
	}

	.abt {
		display: flex;
		gap: 0.25rem;
	}

	.abt a {
		font-size: 0.75rem;
	}

	.cont3 h3 {
		font-size: 1.1rem;
	}

	.cont4 {
		display: flex;
		gap: 1rem !important;
	}

	.cont4 h3,
	.cont5 h3 {
		font-size: 1.1rem;
	}

	.languages h2,
	.frameworks h2,
	.proj h2 {
		font-size: 0.8rem;
	}

	.certif ul li,
	.languages ul li,
	.frameworks ul li,
	.proj h3,
	.proj a h3 {
		font-size: 0.55rem;
	}

	.proj {
		height: auto;
	}

	.moreProjects a {
		font-size: 0.75rem;
	}

	.text2 h3,
	.text2 a {
		font-size: 0.9rem;
	}

	.left a {
		font-size: 1.2rem;
	}
}

@media (max-width: 231px) {
	.contact {
		width: auto;
	}
	#burger {
		position: relative;
	}

	nav {
		padding: 0;
	}

	.headtop {
		display: flex;
		justify-content: space-between;
	}
}

@media (min-width: 177px) and (max-width: 213px) {
	#burger {
		font-size: 1.1rem;
	}

	.glitch {
		font-size: 1rem;
	}

	.text h3 {
		font-size: 0.8rem;
	}

	.cont {
		font-size: 0.8rem;
	}

	.img img {
		width: 10rem;
	}

	nav h2 {
		font-size: 1.75rem;
	}

	nav h2 span {
		font-size: 2rem;
	}

	.abt {
		display: flex;
		gap: 0.25rem;
	}

	.abt a {
		font-size: 0.75rem;
	}

	.cont3 h3 {
		font-size: 1.1rem;
	}

	.cont4 {
		display: flex;
		gap: 1rem !important;
	}

	.cont4 h3,
	.cont5 h3 {
		font-size: 1.1rem;
	}

	.languages h2,
	.frameworks h2,
	.proj h2 {
		font-size: 0.6rem;
	}

	.certif ul li,
	.languages ul li,
	.frameworks ul li,
	.proj h3,
	.proj a h3 {
		font-size: 0.55rem;
		list-style: none;
	}

	.proj {
		height: auto;
	}

	.moreProjects a {
		font-size: 0.75rem;
	}

	.text2 h3,
	.text2 a {
		font-size: 0.7rem;
	}

	.left a {
		font-size: 1rem;
	}

	.cont6 {
		overflow: hidden;
		margin: 0;
		width: 100%;
	}

	.projectsCont5 {
		display: flex;
		flex-direction: column;
		width: auto;
		margin: 0;
	}

	.proj {
		width: auto;
	}
}

@media (min-width: 0px) and (max-width: 177px) {
	#burger {
		font-size: 1.1rem;
	}

	.glitch {
		font-size: 1rem;
	}

	.text h3 {
		font-size: 0.8rem;
	}

	.cont {
		font-size: 0.8rem;
	}

	.img img {
		width: 10rem;
	}

	nav h2 {
		font-size: 1.75rem;
	}

	nav h2 span {
		font-size: 2rem;
	}

	.abt {
		display: flex;
		gap: 0.25rem;
	}

	.abt a {
		font-size: 0.75rem;
	}

	.cont3 h3 {
		font-size: 1.1rem;
	}

	.cont4 {
		display: flex;
		gap: 1rem !important;
	}

	.cont4 h3,
	.cont5 h3 {
		font-size: 1.1rem;
	}

	.languages h2,
	.frameworks h2,
	.proj h2 {
		font-size: 0.6rem;
	}

	.certif ul li,
	.languages ul li,
	.frameworks ul li,
	.proj h3,
	.proj a h3 {
		font-size: 0.55rem;
		list-style: none;
	}

	.proj {
		height: auto;
	}

	.moreProjects a {
		font-size: 0.75rem;
	}

	.text2 h3,
	.text2 a {
		font-size: 0.7rem;
	}

	.left a {
		font-size: 1rem;
	}

	.cont6 {
		overflow: hidden;
		margin: 0;
		width: 100%;
	}

	.projectsCont5 {
		display: flex;
		flex-direction: column;
		width: auto;
		margin: 0;
	}

	.proj {
		width: auto;
	}
}

/* Underline animation */

.underline {
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.underline::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	bottom: -2px;
	left: 0;
	background-color: #000;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.underline:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

/* About Page */
/* .about-cont-1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	} */

/* .about-cont-1 {
	margin-top: 4%;
	display: flex;
	justify-content: space-around;
}

.about-cont-1 div {
	margin-left: 10%;
}

.about-hello {
	font-size: 1.5rem;
}

.about-cont-1-1 {
	font-size: 1.5rem;
}

.about-cont-1-2 {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
} */

.stylized-quote {
	position: relative;
	font-style: italic;
	font-size: 1.8em;
	color: #f0e6d2;
	max-width: 600px;
	text-align: center;
	padding: 2em 2em;
}

.stylized-quote::before,
.stylized-quote::after {
	content: "“";
	font-size: 5em;
	color: #742525; /* dark red */
	position: absolute;
	top: 0;
	opacity: 0.7;
}

.stylized-quote::after {
	content: "”";
	right: 0;
	top: auto;
	bottom: 0;
}

.stylized-quote::before {
	left: 0;
}

.insp-head {
	font-size: 1.4rem;
}

.insp {
	color: #afc016;
	font-size: 1.6rem;
	font-style: italic;
}

.about-cont-1 {
	margin-top: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	gap: 5rem;
}

.about-cont-1 img {
	height: 15rem;
}

.gl2 {
	font-size: 3rem;
}
